/* styles.css */
body {
    margin: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    background-image: url("Flag_of_the_International_Maritime_Organization.svg.png");
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
}


.countdown {
    display:inline-flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    background: linear-gradient(180deg, #08402c 0%, rgba(44, 167, 236, 0.49) 98.58%, rgba(255, 0, 0, 0.00) 99.99%);
    border-radius: 15px;
    width:700px;
    margin-top: 1500px;
    padding: 10px;
    position: fixed;
}

.countdown-item {
    margin: 0 10px;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

.countdown-item span {
    font-size: 100px;
    font-weight: bold;
    width: 1252px;
    height: 20px;
    top: 329px;
    left: 94px;
    font-family:'Aksara Bali Galang';
    justify-content: spa;
    color: #FFF;
}

p {
    color:#FFF;
    text-align: center;
}


